.in-container{
    clear: both;
    min-height: 500px;
    background: #f7f7f7;
}
#in-notes-sec{
    background: white;
    border-right: 1px solid black;
    min-height: 500px;
}
#in-vcard-sec{
    background: #f7f7f7;
    min-height: 500px;
    font-size: 16px;
}
.add-note{
    padding: 25px;
}
.add-note .add-form h3{
    width: 160px;
    background: #eee;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    color: black;
}
.add-note .add-form form{
    padding: 10px;
    background: #eee;
}
.add-note .add-form textarea{
    width: 100%;
    min-height: 50px;
    overflow: hidden;
    padding: 5px;
    font-size: 16px;
}
.add-note .add-form button{
    outline: none;
    background: #2c89ba;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 100;
    margin-top: 10px;
    border-radius: 5px;
    color:white;
}
.in-notes{
    padding: 25px;
}
.in-note{
    background: lightyellow;
    border: 1px solid lightgray;
    min-height: 150px;
    margin-bottom: 30px;
}
.in-note-text{
    padding: 10px;
    height: 120px;
    font-size: 17px;
}
.in-note-footer{
    padding: 0 0px 0 10px;
    height: 30px;
    border-top: 1px solid lightgray;
}
.in-note-footer p {
    display: inline;
    font-size: 14px;
    margin: 0 10px 0 0;
}
.in-note-footer form{
    float: right;
}
#in-vcard-sec > div{
    background: #e0e0e0;
    margin: auto;
    border-radius: 5px;
    padding: 5px;
}
#in-vcard-sec > div > h3{
    margin: 0;
    padding: 5px;
    line-height: 15.6px;
    font-size: 13px;
    font-weight: bold;
    color: rgb(85, 85, 85);
}
#in-vcard-sec p{
    padding: 2px 0;
    font-size: 13px;
}
.in-contact-card-info{
    background: white;
    padding: 5px 10px;
    min-height: 198px;
}
#in-vcard-sec > div > form{
    margin-top: 20px;
    margin-left: 10px;
}
#in-vcard-sec > div > div > form > button{
    background: #2c89ba;
    padding: 3px 6px;
    border-radius: 5px;
    height: 28px;
    line-height: 22px;
    font-size: 13px;
    margin: 10px 0;
    color: white;
}
#in-vcard-sec > div > div > div > h3{
    font-size: 13px;
}
.in-contact-card{
    width: 240px;
    min-height: 200px;
}
#in-vcard-sec > div > div > div{
    min-height: 140px;
}
#in-notes-sec > div.in-notes > div > div.in-note-footer > form > button{
    color: #922c2c;
    margin-right: 10px;
}